<h1><%= @task.name %><h1>
<p><%= @task.description %></p>
<p>Status: <%= @task.status %></p>
<p>Creator: <%= @task.creator %></p>
<p>Performer: <%= @task.performer %></p>
<p>Completed: <%=@task.completed ? 'Yes' : 'No' %></p>
<div>
  <small><%= @task.created_at.in_time_zone('Moscow').strftime("%d-%m-%Y %H:%M:%S") %></small>
  <br>
  <%= link_to 'Edit', edit_task_path %>
  <%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Удалить задачу?' } %>
</div>

